/* Sass Document */
body {
  background-color: #eee;
  font-family: sans-serif; }

.container {
  width: 100%;
  max-width: 800px;
  text-align: center; }
  .container h1, .container h2 {
    margin: 2rem 0; }
  .container h2 {
    font-size: 1rem; }

.col-4 {
  padding: 20px; }

.tile {
  background-color: white;
  border-radius: 4px;
  padding: 20px;
  cursor: pointer; }
  .tile:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); }
